* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: #161616 */
  background: url('../img/2.jpg') center center/cover no-repeat;
  background-attachment: fixed;

}

input:focus {
  outline: none;
}

.container.container--anime {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Search */
.search {
  padding-top: 240px;
  padding-bottom: 40px;
}

.search-box {
  position: relative;
  width: 710px;
  height: 60px;
  display: flex;
  justify-content: center;
  margin: 0 auto;

}

.input-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.search-box__input {
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 15px;
  margin: 0 auto;
  font-size: 28px;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 2px;
  text-align: center;

}

.input-wrapper:before {
  content: '';
  position: absolute;
  width: 140px;
  height: 110px;
  background-image: url(../img/pngegg.png);
  background-size: cover;
  top: -19px;
  left: 83px;
  z-index: 100;
}

.input-wrapper:after {
  content: '';
  position: absolute;
  width: 75px;
  height: 90px;
  background-image: url(../img/ghost.png);
  background-size: cover;
  top: -22px;
  right: 55px;
  z-index: 100;
}

.search-box--first {
  display: block;
  position: absolute;
  z-index: 10;
  width: 295px;
  right: -11px;
  top: -183px;

}

.search-box--second {
  display: block;
  position: absolute;
  z-index: 10;
  top: -214px;
  left: -25px;
  width: 215px;
}

.search-box--third {
  display: block;
  position: absolute;
  z-index: 10;
  top: -247px;
  left: 205px;
  width: 210px;
}

/* Anime-list */
.main {
  padding: 0 0 50px 0;
}

.anime-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.anime-list__item {
  flex-basis: 22%;
  display: flex;
  justify-content: center;
  align-self: stretch;
  /* same height for all flex items */
  position: relative;
}

.anime-list__item-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: #000000ac;
  z-index: 10;
  transition: opacity .5s;
  width: 100%;
  height: 100%;
  padding: 8px 10px 8px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.anime-list__item:hover .anime-list__item-hover {
  opacity: 1;
}

.anime-list__item-title {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 25px;
}

.anime-list__item-img {
  display: block;
  max-width: 100%;
  /* min-width: 260px; */
  object-fit: cover;
}

.anime-list__item-descr {
  font-size: 14px;
  color: white;
  margin-bottom: auto;
  font-family: 'Poppins', sans-serif;

}

.anime-list__item-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.anime-list__item-genres {
  font-size: 16px;
  margin-bottom: 30px;
}

.anime-list__item-link {
  display: block;
  margin-left: auto;
  font-size: 45px;
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none;
  color: #fff;
}

/* SINGLE anime */

.anime {
  background: url('../img/animeBg2.png') center center/cover no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: fixed;
  z-index: 100;
  inset: 0;
  opacity: 0;
  transition: all .7s;
  visibility: hidden;
}

.anime.active {
  visibility: visible;
  opacity: 1;
}

.container {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

.anime-info {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  background-color: #000000a5;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.anime.active .anime-info{
  padding: 20px;
}

.anime-info__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
  /* flex-basis:  600px; */
}

.anime-info__text-synopsis {
  margin-top: 80px;
  font-size: 17px;
}

.anime-info__text-title {
  font-size: 40px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  margin-left: -2px;
  letter-spacing: 3.5px;
  position: relative;
  padding-right: 65px;
}

.anime-info--close {
  display: block;
  position: absolute;
  border: none;
  background: transparent;
  top: 0;
  right: 0;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M8 8 L24 24 M8 24 L24 8'/%3E%3C/svg%3E");
  width: 35px;
  height: 35px;
  transition: all .4s;
  cursor: pointer;
  box-shadow:inset 0 0 0.3rem crimson;
}
.anime-info__text-title button:hover{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M8 8 L24 24 M8 24 L24 8'/%3E%3C/svg%3E");
}

.anime-info__text-synopsis {
  line-height: 1.35;
}

.anime-info__text-trailer {
  text-decoration: none;
  font-size: 24px;
  color: rgb(47, 186, 161);
  margin-top: auto;
}