body {
    font-family: 'Arial', sans-serif;
    background-image: url("img/BackgroundImg.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header {
    margin-top: 8px;
    background-color: #333;
    max-height:10vh;
    color: white;
    padding: 20px 100px 20px 100px;
    border-radius: 10px;
    text-align: center;
}

#searchForm {
    display: flex;
    max-height: 20vh;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

#inputContainer {
    flex: 1;
    max-width: 420px;
    min-width: 420px;
    padding: 10px;
    background-color: white;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-right: 10px;
}

#search {
    width: 20px;
    height: 20px;
}

#searchInput {
    width: 380px;
    font-size: 20px;
    border: 1px solid white;
    height: 20px;
    border:none;
    outline:none;
}

#searchButton {
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgb(255, 253, 253);
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}

#searchButton:hover {
    border: 2px solid white;
    color: white;
    background-color: #333;
    }

#results {
    width: 1100px;
    height: 380px;
    max-height: 60vh;
    overflow: auto;
    background-color: #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.result {
    border-bottom: 1px solid #0f0e0e;
    padding: 10px 0;
}

.result p {
    margin: 5px 0;
}

.pagination {
    display: flex;
    flex: 1;
    max-height: 20vh;
    list-style: none;
    padding: 0;
}

.page-item- {
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 18px;
    background-color: rgb(228, 216, 216);
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.page-item-active{
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 18px;
    background-color: grey;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.page-item-:hover {
    border: 2px solid white;
    color: white;
    background-color: #333;
}