body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    background-color: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 1;
}

:root{
    --bg-color: white;
    --font-color: white;
}

.container:nth-child(1){
    box-shadow: 0 0 5px rgba(100, 100, 100, 0.4);
}

.container{
    max-width:1330px;
    padding: 0 15px;
    margin: 0 auto;
}



/* background */
.background {
    position: absolute;
    width: 100vw;
    height: 300vh;
    top: 0;
    left: 0;
}

.layer {
    position: absolute;
    left: 0;
    right: 0;
    height: 100vh;
    background-size: cover;
}

#layer1 {
    background-image: url('images/small-dots.png');
    animation: slide 70s linear infinite;
}

#layer2 {
    background-image: url('images/medium-dots.png');
    animation: slide 60s linear infinite;
}

#layer3 {
    background-image: url('images/big-dots.png');
    animation: slide 50s linear infinite;
}

#layer4 {
    background-image: url('images/huge-dots.png');
    animation: slide 40s linear infinite;
}

#earth {
    position: absolute;
    left: -30%;
    right: 0;
    top: 50%;
    width: 100vw;
    height: 100vw;
    background-size: cover;
    background-image: url('images/earth-compresssed.png');
    background-repeat: no-repeat;
}

@keyframes slide {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 -100vw;
    }
}


/* Header */
.header-wrapper{
    display: flex;

}
.controls{
    display: flex;
    align-items: center;
    padding: 20px 20px;
    margin-right: 0;
}

.controls input{
    outline: none;
    border: none;
    height: 30px;
    font-size: 15px;
    text-align: center;
}

button{
    width: 30px;
    height: 30px;
    border-width: 1px;
    border-color: white;
    outline: none;
    align-self: center;
    margin-right: 0;
    background-image: url(images/search.png);
    background-color: black;
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
}

h1{
    color: white;
    font-family: Verdana;
    align-self: center;
    
}

main{
    display: flex;
}